@charset "UTF-8";
.course-introduce center, .course-person center, .results-show center {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.2em; }

.courseShow li a .imgBox .shadow, .courseShow li a:hover .shadow {
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in; }

@media (max-width: 1195px) {
  .navbar-default .nav a {
    padding: 15px 10px; }

  .breadcrumb {
    padding: 0 52px !important; } }
@media (max-width: 992px) {
  .navbar-default .nav li {
    padding: 0; }

  .breadcrumb {
    padding: 0 40px !important; }

  .list_main {
    padding: 0 35px !important; } }
* {
  margin: 0;
  padding: 0; }

html, body {
  background: #D8EAFB;
  font: 12px/20px "微软雅黑";
  overflow-x: hidden;
  zoom: 1; }

p, .footer .container a {
  line-height: 1.5em; }

ul, li {
  list-style: none; }

a {
  color: #ccc; }

.topPic {
  background: #386AE3; }
  .topPic img {
    margin: 0 auto;
    height: 140px; }

.navbar-default {
  background: #D3C392;
  border: none;
  height: 50px;
  margin-bottom: 1px;
  z-index: 10; }
  .navbar-default ul li {
    font-size: 14px;
    padding: 0 1em; }

.footer {
  background: #CACAD4;
  margin-top: 20px;
  padding: 20px 0 15px 0; }
  .footer .container p, .footer .container a {
    font-size: 16px;
    text-align: center;
    line-height: 30px; }
  .footer .container a {
    color: #333;
    text-decoration: none;
    font-weight: bold; }
    .footer .container a .icon-user {
      font-size: 22px;
      margin-right: 8px;
      color: #66ADD7; }
    .footer .container a:hover {
      color: #000; }
      .footer .container a:hover .icon-user {
        color: dodgerblue; }
  .footer .copyright {
    margin-top: 10px; }
    .footer .copyright p, .footer .copyright .container a, .footer .container .copyright a {
      text-align: center;
      line-height: 15px; }

#myCarousel .carousel-control {
  width: 40px;
  height: 40px;
  top: 50%;
  left: 15px;
  margin-top: -20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 30px;
  font-size: 60px; }
  #myCarousel .carousel-control.right {
    right: 55px;
    left: auto; }

.course-introduce, .course-person {
  margin-top: 20px;
  padding: 20px 30px;
  background: #FCFAFA;
  letter-spacing: 0.2em; }
  .course-introduce center .icon-book, .course-person center .icon-book {
    font-size: 24px;
    color: darkorange; }
  .course-introduce p, .course-person p, .course-introduce .footer .container a, .footer .container .course-introduce a, .course-person .footer .container a, .footer .container .course-person a {
    margin-top: 10px;
    text-align: left;
    text-indent: 2em;
    font-size: 16px; }

.course-person {
  text-align: center;
  padding: 20px 12px; }
  .course-person .icon-user {
    color: deepskyblue;
    font-size: 24px; }

.courseShow {
  background: #FCFAFA;
  margin-top: 20px;
  padding: 20px 14px; }
  .courseShow li {
    text-align: center; }
    .courseShow li a {
      font-size: 14px;
      display: inline-block;
      padding: 10px 0;
      background: #F5F0F0;
      margin-top: 4px; }
      .courseShow li a img {
        margin: 0 auto; }
      .courseShow li a p, .courseShow li a .footer .container a, .footer .container .courseShow li a a {
        text-align: left;
        color: #666;
        padding: 14px 28px; }
      .courseShow li a .imgBox {
        position: relative; }
        .courseShow li a .imgBox .shadow {
          width: 60px;
          height: 60px;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          transform: scale(0);
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
          -ms-transform: scale(0);
          -webkit-border-radius: 50%;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.5);
          color: orange;
          text-align: center;
          line-height: 60px; }
      .courseShow li a:hover .shadow {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1); }

.results-show {
  background: #FCFAFA;
  margin-top: 20px;
  padding: 20px 15px; }
  .results-show center .icon-trophy {
    font-size: 24px;
    color: gold; }
  .results-show .moving {
    overflow: hidden;
    height: 160px;
    margin-top: 20px;
    position: relative; }
    .results-show .moving ul {
      width: 295%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-animation: 30s jian infinite linear; }
      .results-show .moving ul:hover {
        -webkit-animation-play-state: paused; }
      .results-show .moving ul li {
        height: 100%;
        width: auto;
        margin-left: 15px; }
        .results-show .moving ul li img {
          margin: 0 auto; }

@-webkit-keyframes jian {
  0% {
    left: 0; }
  100% {
    left: -1660px; } }
.location {
  background: #ffffff; }
  .location .breadcrumb {
    background: none;
    padding: 0 60px;
    line-height: 32px;
    font-size: 14px; }
  .location a {
    color: #555; }

.list_main {
  margin: 20px auto;
  padding: 0 45px; }
  .list_main > .list-group {
    height: 600px;
    background: #ffffff; }
    .list_main > .list-group .list_title, .list_main > .list-group .badge {
      font-size: 18px;
      color: inherit;
      font-weight: normal; }
    .list_main > .list-group .badge {
      background: none;
      padding-top: 10px; }
    .list_main > .list-group .list_title {
      letter-spacing: 3px;
      vertical-align: top;
      line-height: 36px;
      padding-left: 12px; }
    .list_main > .list-group .list_detail a {
      padding-left: 50px;
      color: #666; }

.list_style .list-group {
  margin: 0 20px;
  height: 472px; }
  .list_style .list-group a {
    height: 60px; }
    .list_style .list-group a i {
      color: #f4c600; }
    .list_style .list-group a span {
      font-size: 16px;
      color: #222222;
      padding-left: 10px;
      font-weight: normal;
      background: none;
      line-height: 40px; }
