@charset "UTF-8";
.course-introduce center, .course-person center, .results-show center {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.2em; }

.courseShow li a .imgBox .shadow, .courseShow li a:hover .shadow {
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in; }

@media (max-width: 1195px) {
  .navbar-default .nav li {
    padding: 0 3px; }

  .breadcrumb {
    padding: 0 48px !important; }

  .list_head p, .list_head .footer .container div, .footer .container .list_head div {
    margin-top: 30px !important; }

  .communication_main input[type=text] {
    width: 640px !important; } }
@media (max-width: 992px) {
  .navbar-default .nav {
    margin-left: 5px; }
    .navbar-default .nav a {
      padding: 15px 4px; }

  .breadcrumb {
    padding: 0 40px !important; }

  .list_head p, .list_head .footer .container div, .footer .container .list_head div {
    margin-top: 18px !important; }

  .list_main {
    padding: 0 35px !important; }

  .communication_main input[type=text] {
    width: 420px !important; }

  .teachingSource_referenceBook li:nth-child(4) {
    height: 240px !important; }
    .teachingSource_referenceBook li:nth-child(4) img:nth-of-type(1) {
      padding: 36px 21px !important; }
  .teachingSource_referenceBook .book_detail h3 {
    padding-top: 24px !important;
    font-size: 16px !important; }
  .teachingSource_referenceBook .book_detail h4 {
    font-size: 15px !important; } }
* {
  margin: 0;
  padding: 0; }

html, body {
  background: #D8EAFB;
  font: 12px/20px "微软雅黑";
  overflow-x: hidden;
  zoom: 1;
  height: 100%;
  width: 100%; }

p, .footer .container div {
  line-height: 1.5em; }

ul, li {
  list-style: none; }

a {
  color: #777777; }

a:hover {
  color: #555555; }

.badge {
  background: none;
  font-weight: normal; }

.location {
  background: #ffffff; }
  .location .breadcrumb {
    background: none;
    padding: 0 57px;
    line-height: 32px;
    font-size: 14px; }

.list_main {
  margin: 20px auto;
  padding: 0 45px; }
  .list_main > .list-group {
    height: 600px;
    background: #ffffff; }
    .list_main > .list-group .list_title, .list_main > .list-group .badge {
      font-size: 18px;
      color: inherit; }
    .list_main > .list-group .badge {
      padding-top: 10px; }
    .list_main > .list-group .list_title {
      letter-spacing: 3px;
      vertical-align: top;
      line-height: 36px;
      padding-left: 12px; }
    .list_main > .list-group .list_detail {
      margin-bottom: 0;
      display: none; }
      .list_main > .list-group .list_detail a {
        padding-left: 60px;
        color: #333333; }

.list_small .list-group {
  margin: 0 40px;
  height: 1000px; }
  .list_small .list-group a {
    height: 45px; }
    .list_small .list-group a i {
      color: #f4c600; }
    .list_small .list-group a span {
      font-size: 16px;
      color: #444444;
      padding-left: 10px;
      font-weight: normal;
      background: none; }

.list_style > .list-group {
  margin: 0 20px;
  height: 640px;
  background: #ffffff; }
  .list_style > .list-group a {
    height: 60px; }
    .list_style > .list-group a i {
      color: #f4c600; }
    .list_style > .list-group a span {
      font-size: 16px;
      color: #222222;
      padding-left: 10px;
      font-weight: normal;
      background: none;
      line-height: 40px; }
  .list_style > .list-group .list_detail {
    margin-bottom: 0;
    display: none; }
    .list_style > .list-group .list_detail a {
      padding-left: 60px;
      color: #333333; }

.topPic {
  background: #386AE3; }
  .topPic img {
    margin: 0 auto;
    height: 140px; }

.navbar-default {
  background: #D3C392;
  border: none;
  height: 50px;
  margin-bottom: 1px;
  z-index: 10; }
  .navbar-default ul li {
    font-size: 14px;
    padding: 0 12px; }

.footer {
  background: #CACAD4;
  margin-top: 20px;
  padding: 20px 0 15px 0; }
  .footer .container p, .footer .container div {
    font-size: 16px;
    text-align: center;
    line-height: 30px; }
  .footer .container div {
    color: #333;
    text-decoration: none;
    font-weight: bold; }
    .footer .container div .icon-user {
      font-size: 22px;
      margin-right: 8px;
      color: #66ADD7; }
    .footer .container div:hover {
      color: #000; }
      .footer .container div:hover .icon-user {
        color: dodgerblue; }
    .footer .container div button {
      background: none;
      border: none; }
  .footer .copyright {
    margin-top: 10px; }
    .footer .copyright p, .footer .copyright .container div, .footer .container .copyright div {
      text-align: center;
      line-height: 15px; }

.login_wrap .modal-dialog {
  height: 100%;
  width: 100%; }
.login_wrap .modal-content {
  width: 560px;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; }
.login_wrap .modal-header {
  height: 80px;
  border-bottom: none; }
  .login_wrap .modal-header .modal-title {
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    letter-spacing: 10px; }
.login_wrap .modal-body .form-group {
  padding-left: 16px;
  margin-bottom: 0; }
  .login_wrap .modal-body .form-group span {
    color: #29a0df;
    float: left; }
  .login_wrap .modal-body .form-group input {
    height: 40px;
    width: 375px;
    margin: 0 0 32px 32px;
    background: #e5f7ff;
    display: inline-block;
    font-size: 15px; }
    .login_wrap .modal-body .form-group input[type=password] {
      margin-left: 36px; }
    .login_wrap .modal-body .form-group input[type=submit] {
      margin-left: 60px;
      background: #4accf2;
      -webkit-border-radius: 22px;
      border-radius: 22px;
      color: #ffffff;
      letter-spacing: 20px;
      font-size: 20px; }
  .login_wrap .modal-body .form-group:nth-child(3) input {
    width: 150px;
    margin-left: 28px; }
  .login_wrap .modal-body .form-group:nth-child(3) img {
    height: 40px;
    width: auto;
    margin: -32px 0 0 24px;
    border: 1px solid #000000; }
  .login_wrap .modal-body .form-group:nth-child(3) a {
    font-size: 15px;
    vertical-align: top;
    display: inline-block;
    height: 40px;
    padding: 12px;
    border-bottom: 1px solid black;
    border-bottom-color: #00BFFF; }
    .login_wrap .modal-body .form-group:nth-child(3) a:hover {
      text-decoration: none; }

#myCarousel .carousel-control {
  width: 40px;
  height: 40px;
  top: 50%;
  left: 15px;
  margin-top: -20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 30px;
  font-size: 60px; }
  #myCarousel .carousel-control.right {
    right: 55px;
    left: auto; }

.course-introduce, .course-person {
  margin-top: 20px;
  padding: 20px 30px;
  background: #FCFAFA;
  letter-spacing: 0.2em; }
  .course-introduce center .icon-book, .course-person center .icon-book {
    font-size: 24px;
    color: darkorange; }
  .course-introduce p, .course-person p, .course-introduce .footer .container div, .footer .container .course-introduce div, .course-person .footer .container div, .footer .container .course-person div {
    margin-top: 10px;
    text-align: left;
    text-indent: 2em;
    font-size: 16px; }

.course-person {
  text-align: center;
  padding: 20px 12px; }
  .course-person .icon-user {
    color: deepskyblue;
    font-size: 24px; }

.courseShow {
  background: #FCFAFA;
  margin-top: 20px;
  padding: 20px 14px; }
  .courseShow li {
    text-align: center; }
    .courseShow li a {
      font-size: 14px;
      display: inline-block;
      padding: 10px 0;
      background: #F5F0F0;
      margin-top: 4px; }
      .courseShow li a img {
        margin: 0 auto; }
      .courseShow li a p, .courseShow li a .footer .container div, .footer .container .courseShow li a div {
        text-align: left;
        color: #666;
        padding: 14px 28px; }
      .courseShow li a .imgBox {
        position: relative; }
        .courseShow li a .imgBox .shadow {
          width: 60px;
          height: 60px;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          transform: scale(0);
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
          -ms-transform: scale(0);
          -webkit-border-radius: 50%;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.5);
          color: orange;
          text-align: center;
          line-height: 60px; }
      .courseShow li a:hover .shadow {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1); }

.results-show {
  background: #FCFAFA;
  margin-top: 20px;
  padding: 20px 15px; }
  .results-show center .icon-trophy {
    font-size: 24px;
    color: gold; }
  .results-show .moving {
    overflow: hidden;
    height: 160px;
    margin-top: 20px;
    position: relative; }
    .results-show .moving ul {
      width: 295%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-animation: 30s jian infinite linear; }
      .results-show .moving ul:hover {
        -webkit-animation-play-state: paused; }
      .results-show .moving ul li {
        height: 100%;
        width: auto;
        margin-left: 15px; }
        .results-show .moving ul li img {
          margin: 0 auto; }

@-webkit-keyframes jian {
  0% {
    left: 0; }
  100% {
    left: -1660px; } }
.communication_main {
  margin: 20px auto;
  padding: 0 45px; }
  .communication_main .publish {
    background: #ffffff;
    padding: 25px 36px; }
    .communication_main .publish .form-group {
      width: 100%; }
      .communication_main .publish .form-group input {
        height: 50px;
        font-size: 18px; }
        .communication_main .publish .form-group input[type=text] {
          width: 860px; }
        .communication_main .publish .form-group input[type=submit] {
          float: right;
          width: 105px;
          letter-spacing: 5px; }
  .communication_main .comment_list {
    background: #ffffff;
    padding: 0 15px 100px 15px; }
    .communication_main .comment_list li {
      border-bottom: 2px solid #888888;
      position: relative;
      background: url(../images/indexImg/images/person_image.png) no-repeat 20px 15px; }
      .communication_main .comment_list li:nth-child(even) {
        background: url(../images/indexImg/images/person_image2.png) no-repeat 20px 15px; }
      .communication_main .comment_list li .comment_content {
        padding: 0 20px 30px 0;
        margin-left: 108px; }
        .communication_main .comment_list li .comment_content h3 {
          padding-top: 28px;
          font-size: 20px; }
        .communication_main .comment_list li .comment_content p, .communication_main .comment_list li .comment_content .footer .container div, .footer .container .communication_main .comment_list li .comment_content div {
          font-size: 15px; }
      .communication_main .comment_list li time {
        position: absolute;
        bottom: 15px;
        right: 15px;
        font-size: 14px; }

.courseAll .course_head {
  position: relative; }
  .courseAll .course_head center {
    height: 90px;
    font-size: 32px;
    background: #fedbf4;
    line-height: 90px; }
  .courseAll .course_head img {
    position: absolute;
    top: 0;
    left: 0; }
.courseAll .course_detail {
  font-size: 16px;
  background: #fff;
  padding-top: 35px;
  padding-bottom: 132px; }
  .courseAll .course_detail p, .courseAll .course_detail .footer .container div, .footer .container .courseAll .course_detail div, .courseAll .course_detail span {
    margin: 0 60px 10px 60px;
    line-height: 30px;
    letter-spacing: 5px; }
  .courseAll .course_detail p, .courseAll .course_detail .footer .container div, .footer .container .courseAll .course_detail div {
    text-indent: 2em; }

.teachingSource_courseware .list-group {
  height: 540px !important; }

.teachingSource_video .list-group {
  height: 450px;
  background: #ffffff; }

.teachingSource_exam .list-group {
  height: 1080px; }

.teachingSource_CAI .list-group {
  height: auto;
  padding-bottom: 20px;
  background: #ffffff; }
  .teachingSource_CAI .list-group .list-group-item {
    border: none; }
  .teachingSource_CAI .list-group .pagination {
    display: block;
    padding-top: 50px;
    text-align: center; }
    .teachingSource_CAI .list-group .pagination li {
      display: inline-block;
      margin: 0 150px; }
      .teachingSource_CAI .list-group .pagination li a {
        -webkit-border-radius: 5px;
        border-radius: 5px; }
      .teachingSource_CAI .list-group .pagination li .active {
        border: none; }
.teachingSource_CAI .list_head {
  margin: 0 40px 20px 40px;
  background: #ffffff;
  height: 140px; }
  .teachingSource_CAI .list_head img {
    width: 125px;
    height: auto;
    float: left;
    margin: 20px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .teachingSource_CAI .list_head p, .teachingSource_CAI .list_head .footer .container div, .footer .container .teachingSource_CAI .list_head div {
    font-size: 17px;
    color: #666666;
    text-indent: 2em;
    margin-top: 40px;
    padding-right: 24px;
    text-align: left; }

.teachingSource_referenceBook .book_list {
  padding: 0 40px; }
  .teachingSource_referenceBook .book_list li {
    height: 192px;
    margin-bottom: 15px;
    background: #ffffff;
    position: relative; }
    .teachingSource_referenceBook .book_list li img:nth-of-type(1) {
      float: left;
      padding: 21px; }
    .teachingSource_referenceBook .book_list li img:nth-of-type(2) {
      position: absolute;
      right: 0;
      top: 0; }
    .teachingSource_referenceBook .book_list li .book_detail h3 {
      padding-top: 40px;
      font-size: 18px; }
    .teachingSource_referenceBook .book_list li .book_detail h4 {
      font-size: 16px; }
    .teachingSource_referenceBook .book_list li .book_detail p, .teachingSource_referenceBook .book_list li .book_detail .footer .container div, .footer .container .teachingSource_referenceBook .book_list li .book_detail div {
      font-size: 14px;
      padding: 5px 16px 0 0; }
    .teachingSource_referenceBook .book_list li:nth-child(4) h3 {
      padding-top: 30px; }

.teachingSource_Websize ul {
  padding: 0 20px;
  margin: 0 40px;
  background: #ffffff;
  height: 1000px; }
  .teachingSource_Websize ul li {
    border-bottom: 2px solid #666666;
    height: 81px;
    position: relative; }
    .teachingSource_Websize ul li span {
      float: left;
      padding: 18px 0 0 10px;
      height: 60px; }
    .teachingSource_Websize ul li .Websize_detail {
      padding: 0 0 0 48px; }
      .teachingSource_Websize ul li .Websize_detail h3 {
        margin: 0;
        padding: 16px 0 10px 0;
        font-size: 16px; }
      .teachingSource_Websize ul li .Websize_detail p, .teachingSource_Websize ul li .Websize_detail .footer .container div, .footer .container .teachingSource_Websize ul li .Websize_detail div {
        font-size: 15px; }
