//占位符
%centerStyle{
    font-size: $fontsize+2;
    line-height: $line-height;
    font-weight: bold;
    letter-spacing: $letter-spacing;
}

//浏览器前缀设置
%my-transition{
    transition: all .2s ease-in;
    -webkit-transition:all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
}