//全局样式
*{
    margin: 0;
    padding: 0;
}
html,body{
    background: #D8EAFB;
    font:12px/20px "微软雅黑";
    overflow-x: hidden;
    zoom: 1;
    height: 100%;
    width: 100%;
}
p{
    line-height: 1.5em;
}
ul,li{
    list-style: none;
}
a{
    color: #777777;
}
a:hover{
    color: #555555;
}
