//媒体查询,导航栏内容过多情况
@media(max-width:1195px){
    .navbar-default .nav{
        a{
            padding: 15px 10px;
        }
    }
    .breadcrumb{
        padding: 0 52px !important;
    }
}
@media(max-width:992px){
    .navbar-default .nav{
        li{
            padding:0;
        }
    }
    .breadcrumb{
        padding: 0 40px !important;
    }
    .list_main{
        padding: 0 35px !important;
    }
}
