.login_wrap{
    background: #2b2f32;
    position: relative;
    height: 100%;
    @include opacity(0.8);
    z-index: 999;
    .login_main{
        @include center-box(740px,532px);
        @include border-radius(8px);
        background: #ffffff;
        center{
           font-size: 30px; 
           line-height: 120px;
        }
        .form-group{
            padding-left: 68px;
            span{
                color: #29a0df;
                float: left;
                margin-top: 8px;
            }
            input{
                height: 52px;
                width: 475px;
                margin: 0 0 42px 50px;
                background: #e5f7ff;
                font-size: $fontsize+2;
                &[type=password]{
                    margin-left: 54px;
                }
                &[type=submit]{
                    height: 52px;
                    margin-left: 80px;
                    background: #4accf2;
                    @include border-radius(22px);
                    color: #ffffff;
                    letter-spacing: 20px;
                    font-size: 20px;
                }
            }
            &:nth-child(3){
                input{
                    width: 205px;
                    margin-left: 45px;
                }
                img{
                    margin: -42px 0 0 37px;
                    border: 1px solid #000000;
                }
                a{
                    font-size: 24px;
                    vertical-align: top;
                    display: inline-block;
                    height: 50px;
                    border-bottom: 1px solid black;
                    border-bottom-color: #00BFFF;
                    padding: 12px;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
