//顶部及导航样式
.topPic{
    background: #386AE3;
    img{
        margin: 0 auto;
        height: 140px;
    }
}
.navbar-default{
    background: #D3C392;
    border: none;
    height: 50px;
    margin-bottom: 1px;
    z-index: 10;
    ul{
        li{
            font-size: 14px;
            padding: 0 12px;
        }
    } 
}

//登录弹框的响应式
#myModal{
    .modal-content{
        @include center-box(560px,400px);
    }
    .modal-header{
        height: 80px;
    }
    .modal-title{
        line-height: 80px;
        font-size: 24px;
    }
    .modal-body{
        .form-group{
            padding-left: 16px;
            margin-bottom: 0;
            span{
                margin-top: 0;
            }
            input{
                display: inline-block;
                height: 40px;
                width: 375px;
                margin: 0 0 32px 32px;
                &[type=password]{
                    margin-left: 36px;
                }
                &[type=submit]{
                    margin-left: 60px;
                }
            }
            &:nth-child(3){
                input{
                    width: 150px;
                    margin-left: 28px;
                }
                img{
                    height: 40px;
                    width: auto;
                    margin: -32px 0 0 24px;
                }
                a{
                    font-size: 24px;
                    vertical-align: top;
                    display: inline-block;
                    height: 40px;
                    padding: 12px;
                }
            }
        }
    }
}
    