.location{
    height: 32px;
    background: #ffffff;
    p{
        line-height: 32px;
        font-size: $fontsize+(-2);
        margin-left: 42px;
        a{
            color: #757575;
        }
    }
}
