//index
//banner
#myCarousel{
    .carousel-control{
        width: 40px;
        height: 40px;
        top: 50%;
        left: 15px;
        margin-top: -$marginTop;
        @include border-radius(50%);
        line-height: $line-height;
        font-size: 60px;
        &.right{
            right: 55px;
            left: auto;
        }
    }
}
//课程简介
.course-introduce{
    margin-top: $marginTop;
    padding: 20px 30px;
    background: $bgcolor;
    letter-spacing: $letter-spacing;
    center{
        @extend %centerStyle;
        .icon-book{
            font-size: $fontsize+8;
            color:darkorange;
        }
    }
    p{
        margin-top: $marginTop/2;
        text-align: left;
        text-indent: 2em;
        font-size: $fontsize;
    }
    
}
//课程负责人
.course-person{
    text-align: center;
    padding: 20px 12px;
   @extend .course-introduce;
   .icon-user{
        color:deepskyblue;
        font-size: $fontsize+8;
   }
}
//课程图片展示
.courseShow{
    background: $bgcolor;
    margin-top: $marginTop;
    padding: 20px 14px;
    li{
        text-align:center;
        a{
            font-size: 14px;
            display: inline-block;
            padding: 10px 0;
            background: #F5F0F0;
            margin-top: 4px;
            img{
                margin: 0 auto;
            }
            p{
                text-align: left;
                color: #666;
                padding: 14px 28px;
            }
            .imgBox{
                position: relative;
                .shadow{
                    @include center-box(60px,60px);
                    @include my-transform(scale(0));
                    @include border-radius(50%);
                    background: rgba(0,0,0,.5);
                    color: orange;
                    text-align: center;
                    line-height: $line-height*2;
                    @extend %my-transition;
                }
                
            }
            
            &:hover{
                 .shadow{
                    @include my-transform(scale(1));
                    @extend %my-transition;             
                 }
            }
        }
    }
}

//成果展示
.results-show{
    background: $bgcolor;
    margin-top: $marginTop;
    padding: 20px 15px;
    center{
       @extend %centerStyle;
        .icon-trophy{
            font-size: $fontsize+8;
            color:gold;
        } 
    }
    .moving{
            overflow: hidden;
            height: 160px;
            margin-top: $marginTop;
            position: relative;
            //hover在这里不会停???
        ul{
            width: 295%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-animation: 30s jian infinite linear;
            &:hover{
                -webkit-animation-play-state: paused;
            }
            li{
                height: 100%;
                width: auto;
                margin-left: 15px;
                img{
                    margin: 0 auto;
                }
            }
        } 
                
    }

}

@-webkit-keyframes jian{
    0%{left: 0;}
    100%{left: -1660px;}
}

//侧边链接栏
.tips{
    position: relative;
    .btn{
        height: 140px;
        position: fixed;
        top: 50%;
        margin-top: -70px;
        left: 0;
        z-index: 10;
        background: url(../images/indexImg/btn.png) no-repeat;
    }
    .links{
        width: 250px;
        height: 162px;
        position: fixed;
        top: 50%;
        margin-top: -80px;
        left: 36px;
        background: $bgcolor;
        @include border-radius(8px);
        z-index: 10;
        box-shadow: 2px 2px 6px 1px #999;
        //隐藏
        @extend %my-transition;
        top: -80px;
        li{
            border-bottom: 1px dashed #ccc;
            padding: 3px 10px;
            &:hover{
                background: #E3E3E3;
            }
            a{
                color: #333;
                font-size: 12px;
                display: block;
                text-overflow:ellipsis;//clip裁剪文本
                overflow:hidden;//溢出隐藏
                white-space:nowrap;//强行不换行
            }
            &:last-child{
                text-align: right;
            }
        }
        &:before{
            content: "";
            width: 0;
            height: 0;
            display: block;
            position: absolute;
            top: 50%;
            left: -20px;
            margin-top: -6px;
            border-top:8px solid transparent;
            border-right:12px solid $bgcolor;
            border-bottom:8px solid transparent;
            border-left:8px solid transparent;
        }
    }
}
