.list_small{
    .list-group{
        padding: 0 40px;
        height: 1000px;
        a{
            height: 45px;
            i{
                color: #f4c600;
            }
            span{ 
                font-size:$fontsize;
                color: #222222;
                padding-left: 10px;
                font-weight: normal;
                background: none;
            }     
        }
    }
}
